body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 50px;
  background-color: #8e44ad;
  color: #333;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.quiz-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#question {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#answer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#answer-list li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#answer-list li label {
  cursor: pointer;
}

#answer-list li:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
